
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.navbar-personal{
    background-color:#F5F4F2;
}
.Imagen_1{
    width: 100rem;
    height: 40rem;

    object-fit: contain;
    margin: 0 auto;
}
.Imagen_2{
    object-fit: contain;
    margin: 0 auto;
}
.navbar-brand{
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
}
h3{
    font-size: 2rem;
    font-family:'Anton', sans-serif;
}
.navbar-nav{
    font-size: 1.5rem;
}
.card-img-top{
    object-fit: fill;
    height: 25rem;

}
.carousel-inner{
    height: 50rem;
}
.carousel-inner img{
    height: 50rem;
    width:1px;
    object-fit:cover;
}
.logo{
    width: 100%;
    display: flex;
}
.logo_2{
    width: 100%;
    display: flex;
}
body{
    background-color: #F5F4F2;
}
.card{
    height: 25rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
}
.card_m{
    height: 110vh;
    object-fit: cover;
}

.card-img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.row{
    width:max-content;
}
.footer_img{
 display:flex;
 align-items: center;
 justify-content: center;
 background-color:#F5F4F2;
}
.card-img{
    height: 325px;
    object-fit:cover;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-top{
    height: 350px;
}
.card-img-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

